<div id="home_page" class="container-fluid content">
    <section id="about" class="row">
        <div class="col-md-3 col-md-offset-3">
            <img src="https://avatars1.githubusercontent.com/u/5175964?v=3&s=460" class="img-responsive img_border">
        </div>
        <div class="col-md-4 info">
            <h1><span class="red_ul">Least Clicks Possible</span></h1>
            <p class="lead">I build products for people. I believe good design should be invisible; it is there to serve the person. I strive to create interfaces that are usable, beautiful and leave you with a smile.</p>
            <button class="btn btn-default btn-lg red_btn">contact me</button>
        </div>
    </section>
    <section id="projects" class="row gry_bkg">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1 class="section_head"><span class="red_ul">My Projects</span></h1>
            <div class="row">
                {{#each proj}}
                    <a href="/projects/{{@key}}">
                        <div class="col-md-3 project_box">
                            <div class="img_wrapper">
                                <img src="{{header_img}}">
                            </div>
                            <div class="caption">
                                <h3>{{title}}</h3>
                                <p>{{format_date start_date}}-{{format_date end_date}}</p>
                                <p>Role: {{role}}</p>
                                <p class="summary">{{summary}}</p>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </section>
    <section id="work_exp" class="row">
        <div id="work_exp_collapse" class="col-md-8 col-md-offset-2 text-center">
            <h1 class="section_head"><span class="red_ul">Place's I've Worked</span></h1>
            <div class="row work_list">
                {{#each info.work_exp}}
                    <div class="col-md-3">
                        <a role="button" data-toggle="collapse" data-parent="#work_exp_collapse" href="#collapse_{{slug}}" aria-expanded="false" aria-controls="collapse_{{slug}}">
                            <img class="img-responsive logo_icon" src="{{img_src}}">
                            <h4>{{name}}</h4>
                        </a>
                    </div>
                {{/each}}
            </div>
            {{#each info.work_exp}}
                <div id="collapse_{{slug}}" class="work_info collapse row">
                    <div class="col-md-4 header">
                        <h2>{{name}}</h2>
                        <p>{{format_date start_date}}-{{format_date end_date}}</p>
                    </div>
                    <div class="col-md-8 text-left">
                        <p class="lead">{{role}}</p>
                        <p>{{summary}}</p>
                    </div>
                </div>
            {{/each}}
            <a class="btn btn-default btn-lg red_btn" href="https://dl.dropboxusercontent.com/u/7941670/Nikhil%20Pai%20CV.pdf">Resumé</a>
        </div>
    </section>
    <section id="skills" class="row gry_bkg">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1 class="section_head"><span class="red_ul">My Skills</span></h1>
            <div class="row skills_list">
                {{#each info.skills}}
                    <div class="col-md-3">
                        <div class="skill_box">
                            <h1 class="skill_icon"><i class="fa {{icon}}"></i></h1>
                            <h3>{{name}}</h3>
                            <p class="lead">
                                <ul>
                                    {{#each items}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    <section id="photos" class="row">
        
    </section>
</div>