<div id="project_page" class="container content">
    <section id="info" class="row">
        <div class="col-md-6">
            <img src="{{project.header_img}}" class="img-responsive img_border">
        </div>
        <div class="col-md-6 info">
            <h1><span class="red_ul">{{project.title}}</span></h1>
            <h3>{{format_date project.start_date}}-{{format_date project.end_date}}</h3>
            <h3>Role: {{project.role}}</h3>
            <p class="descripton">{{project.summary}}</p>
            <p class="tags">Skills: {{#each project.skills}}{{this}}, {{/each}}</p>
            {{#if project.links}}
                {{#if project.links.github}}<a class="btn btn-default btn-lg red_btn" href="{{project.links.github}}" target="_blank">Code</a>{{/if}}
                {{#if project.links.site}}<a class="btn btn-default btn-lg red_btn" href="{{project.links.site}}" target="_blank">Demo</a>{{/if}}
            {{/if}}
        </div>
    </section>
    <section id="process">
        {{#each project.steps}}
            <div class="row">
                {{#if img_left}}
                    <div class="col-md-3">
                        <img src="{{img_left}}" class="img-responsive step_img img_border">
                    </div>
                {{/if}}
                <div class="{{#ifCond img_left '||' img_right}}col-md-9{{else}}col-md-12{{/ifCond}}">
                    <h2><span class="red_ul">{{title}}</span></h2>
                    <p class="large_p">{{text}}</p>
                </div>
                {{#if img_right}}
                    <div class="col-md-3">
                        <img src="{{img_right}}" class="img-responsive step_img img_border">
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
</div>