<div id="project_list" class="container content">
    <section id="info" class="row">
        {{#each projs}}
            <a href="/projects/{{@key}}">
                <div class="col-md-4 project_box">
                    <div class="img_wrapper">
                        <img src="{{header_img}}">
                    </div>
                    <div class="caption">
                        <h3>{{title}}</h3>
                        <p>{{format_date start_date}}-{{format_date end_date}}</p>
                        <p>Role: {{role}}</p>
                        <p class="summary">{{summary}}</p>
                    </div>
                </div>
            </a>
        {{/each}}
    </section>
</div>